/* ----------------------------------------------------------------------------*/
/* ------------------------------| CSS Variables |-----------------------------*/
/* ----------------------------------------------------------------------------*/

:root {
  --background-color: #252a34;
  --primary-color: #08d9d6;
  --text-color: #eaeaea;
  --accent-color: #ff2e63;
  --navbar-bg: #393e46;
  --navbar-text-color: var(--text-color);
  --navbar-link-color: var(--text-color);
  --navbar-link-color-active: var(--accent-color);
  --navbar-link-hover-color: var(--primary-color);
}

/* ----------------------------------------------------------------------------*/
/* ------------------------------| Global Styles |-----------------------------*/
/* ----------------------------------------------------------------------------*/

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--background-color);
  margin: 0;
  min-height: 100vh;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background-color: var(--navbar-bg);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 7rem;
}

/* Icons Colors */
.fab {
  color: var(--accent-color);
}

/* ----------------------------------------------------------------------------*/
/* ----------------------------| NavBar Styles |-------------------------------*/
/* ----------------------------------------------------------------------------*/

/* Change burger box */
.navbar-toggler {
  border-color: var(--primary-color);
}

/* Change burger lines */
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 46, 99, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
  color: var(--accent-color);
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
}

.navbar-brand:hover {
  color: var(--primary-color);
}

.navbar {
  background-color: var(--navbar-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar-nav .nav-link {
  color: var(--navbar-link-color);
}

.navbar-nav .nav-link.active {
  color: var(--navbar-link-color-active);
}

.navbar-nav .nav-link:hover {
  color: var(--navbar-link-hover-color);
}

/* ----------------------------------------------------------------------------*/
/* ---------------------------| About Me Styles |------------------------------*/
/* ----------------------------------------------------------------------------*/

.profile-picture {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: 2px solid var(--accent-color);
}

.profile-picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.about-desc {
  padding: 20px; /* Add padding to the text container */
}

/* ----------------------------------------------------------------------------*/
/* ---------------------------| Projects Styles |------------------------------*/
/* ----------------------------------------------------------------------------*/

.card {
  color: var(--text-color);
  margin: 2px 0px 2px 0px;
  border: 2px solid var(--accent-color);
  background-color: var(--navbar-bg);
  min-height: 50vh;
}

.card-title {
  color: var(--primary-color);
}

.btn.card-btn {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.btn.card-btn:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

/* Contact page */
