:root {
  --background-color: #252a34;
  --primary-color: #08d9d6;
  --text-color: #eaeaea;
  --accent-color: #ff2e63;
  --navbar-bg: #393e46;
  --navbar-text-color: var(--text-color);
  --navbar-link-color: var(--text-color);
  --navbar-link-color-active: var(--accent-color);
  --navbar-link-hover-color: var(--primary-color);
}

* {
  font-family: 'Poppins', sans-serif;
}
/* Navigation bar */

.navbar-brand {
  color: var(--accent-color);
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
}

.navbar-brand:hover {
  color: var(--primary-color);
}

.navbar {
  background-color: var(--navbar-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar-toggler-icon {
  color: var(--navbar-text-color);
}

.navbar-nav .nav-link {
  color: var(--navbar-link-color);
}

.navbar-nav .nav-link.active {
  color: var(--navbar-link-color-active);
}

.navbar-nav .nav-link:hover {
  color: var(--navbar-link-hover-color);
}

/* Common Styles */

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.fab {
  color: var(--accent-color);
}

.footer {
  background-color: var(--navbar-bg);
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

/* About me page */

.row {
  display: flex;
  flex-wrap: wrap-reverse; /* Reverses the order of flex items on smaller screens */
  align-items: center; /* Vertically center align items */
}

.profile-picture {
  width: 20vw; /* 20% of the viewport width */
  height: 20vw; /* 20% of the viewport width */
  border-radius: 50%; /* Create a circular shape */
  overflow: hidden; /* Hide any overflow from the circular shape */
  margin: 0 auto; /* Horizontally center the profile picture */
  border: 2px solid var(--accent-color);
}

.profile-picture img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Scale the image while maintaining aspect ratio */
  display: block; /* Remove any extra spacing */
}

.about-desc {
  padding: 20px; /* Add padding to the text container */
}

/* Projects page */

/* Contact page */
